@font-face {
  font-family: "Rubik";
  src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: "Rubik", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.header {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg {
  height: 100%;
  padding-bottom:20px;
  background-color: #f8f9fa;
}

.header-top-light .nav-link {
  color: #969696;
}

.logo {
  max-height: 48px;
}

.navbar-main .nav-link {
  color:#1c1c1c;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.pointer {
  cursor: pointer
}

label {
  margin-bottom: 0.3rem;
}