@font-face {
  font-family: "Rubik";
  src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding-bottom:20px;
  background-color: #f8f9fa;
}

body {
  font-family: "Rubik", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.header {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-top-light .nav-link {
  color: #969696;
}

.logo-text {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #212529;
  padding: 4px;
}

.logo-text:hover {
  text-decoration: none;
  color: #212529a1;
  /* box-shadow: 0 2px 9px rgba(153, 153, 153, 0.3) !important; */
  transition: 0.3s;
}

.navbar-main .nav-link, .breadcrumb-item a {
  color:#1c1c1c;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.pointer {
  cursor: pointer
}

label {
  margin-bottom: 0.3rem;
}

.category-card .card-title, .item-card .card-title {
  color: #1c1c1c;
}

.category-card:hover, .item-card:hover {
  box-shadow: 0 2px 9px rgba(153, 153, 153, 0.3) !important;
    transition: 0.3s;
}

